services:
  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      TAPYRUS_FAUCET_DATABASE_HOST: db
      TAPYRUS_FAUCET_DATABASE_PORT: 3306
      RAILS_ENV: development
      TAPYRUS_RPC_HOST: tapyrusd
      TAPYRUS_RPC_PORT: 12381
      TAPYRUS_RPC_USER: rpcuser
      TAPYRUS_RPC_PASSWORD: rpcpassword
      RETURN_ADDRESS: setreturnaddress
      DISTRIBUTION_RATE: 5e-06

      # Use recaptcha test key
      RECAPTCHA_SECRET_KEY: 6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
      RECAPTCHA_SITE_KEY: 6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
    env_file:
      - .env
    links:
      - db
    depends_on:
      - db
    ports:
      - "3000:3000"
    volumes:
      - .:/tapyrus-faucet

  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root_password
    volumes:
      - "db:/var/lib/mysql"
  tapyrusd:
    image: tapyrus/tapyrusd:v0.5.2
    environment:
      GENESIS_BLOCK_WITH_SIG: 01000000000000000000000000000000000000000000000000000000000000000000000000580dec59b190d2ecc0c724b545e54973f88c04b9f7b27c1a7359c7df421f7334a6f66d6f9f332bc9ea3cf1034ebfeb7056d7a43c7394b30462788d1dee08c848ef4469012103bb1ee48d6c63946b6198eab4219afe5328cc43f7b26d372ff44428263b0ea263402d9a5d543f4be9e699ef968e0b027a1236f6189e07af107a4bb74af03fb77e1b8e26213fc68cda07902c790c6e40bda3711c19e2ed1b0ff9ca830e00bee0495b01010000000100000000000000000000000000000000000000000000000000000000000000000000000000ffffffff0100f2052a010000001976a9142fd8508af066330d13588265140fa8334f0f062b88ac00000000
    volumes:
      - tapyrus:/var/lib/tapyrus
      - ./tapyrus_dev.conf:/etc/tapyrus/tapyrus.conf
volumes:
  db:
  tapyrus: