
h2 {
  color: #333333;
  font-size: 2rem;
}

h3 {
  color: #333333;
  font-size: 1.8rem;
}

section {
  margin: 50px 0 50px 0;
}

form > * {
  margin: 5px 0 10px 0;
}

.balance {
  font-weight: bold;
}